body{
    margin: 0 auto;
    
}
.heading{
    background-color: #f07070;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 52px;
    text-align: center;
}
.menu{
    background-color: #881818;
    padding: 48px 70px;
    margin: 50px auto;
    width: 340px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px;
}
.menu li{
    /* list-style: none; */
    padding: 10px 20px;
    font-size: 32px;
    color: #fff;
}
.menu li a{
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.menu li:hover{
    font-size: 40px;
    transition: all 500ms;
}
.food_img{
    width: 600px;
    height: auto;
    margin: 12px auto;
    display: block;
    border-radius: 18px;
    border: 2px solid #665656;
}
.script_head{
    font-size: 40px;
    padding: 0 20px;
}
.script{
    font-size: 32px;
    padding: 0px 50px;
}
ul.script, ol.script{
    padding: 0 85px;
}

